:root {
    --cutty-stark:#5f8671;
    --bandicoot: #818962;
    --bright-sun: #f0b736;
    --hacienda: #AA8224;
    --nero: #292627;
    --white: rgb(243, 243, 243);
}

* {
    margin:0;
    padding:0;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color:rgb(243, 243, 243); 
}

header {
    background-color: var(--nero)
}

.h-title {
    font-family:"Salsa";
    margin-left:5px;
    color:var(--hacienda);
}

.nav {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:10px;
}

.right-header {
    display:flex;
    flex-direction:row;
    cursor: pointer;
    padding:8px;
    margin-right: 15px;
}

.right-header .home {
    font-size: 35px;
    color: var(--hacienda);
    font-weight:300;
}

.right-header .home:hover {
    color: rgba(217, 217, 217, 0.821);
}

.profile-img {
    border-radius:50%;

}

.img-prof {
    height:35px;
    border-radius:50%;
    border: 2px solid var(--hacienda);
    cursor: pointer;
    margin-left: 15px;
}
main {
    display: flex;
    flex-direction:row;
}

aside {
    width:250px;
    height: auto;
    background-color: var(--cutty-stark);
    color:var(--white);
    font-size:.8rem;
    margin-top:0;

}

.material-symbols-outlined {
    font-size: 22px;
}

.tasks-by-day {
    display: row;
    flex-direction:row;
    justify-content: center;
    padding:20px;

}

aside h3{
    font-weight:300;
    padding: 10px;
}

.task-due {
   display: flex;
   flex-direction: row;
   align-items: center;
}

.todo-category-tab h3 {
    font-weight:600;
    margin-left:-15px;
    text-decoration: underline;
}

.todo-category-tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    padding:10px;
    font-size: .9rem;
}

.todo-category-tab li {
    list-style: none;
    padding:8px;
}

.add-list {
    display: flex;
    flex-direction:row;
}

.section-body {
    width:100%;
    height:min-content;
    border-top-right-radius: 40px 40px;
    background-color: rgb(255, 254, 249);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;

}

.todo-category-tab .add-todo-list {
    display: flex;
    flex-direction:row;
    margin-top:5px;
    align-items: center;
    cursor:pointer;
}

.add-todo-list p {
    margin:5px;
    font-size:15px;   
}

.section-header {
    margin-top: 20px;
}

.section-header h3 {
    font-family:"Genos", sans-serif;
    font-size:2.5rem;
    color: var(--nero);
}

.add-todo-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px;
    margin-top: 25px;
}

.todo-title, .todo-description, .add-todo-btn {
    margin:10px;
}

.todo-title {
    border: none;
    background-color: rgb(255, 254, 249);
    outline: none;
    border-bottom: 1px solid var(--cutty-stark);
    width:450px;
    font-size:1.2rem;
}

.todo-description {
    border: 1px solid var(--cutty-stark);
    background-color: rgb(255, 254, 249);
    border-radius: .2rem;
    outline: none;
    width:450px;
    height: 125px;
    font-size:1rem;
    text-indent:5px;
    padding:5px;
}

.todo-title {
    text-indent: 5px;
    padding: 5px;
}

.add-todo-btn {
    width: 175px;
    height:45px;
    font-size:1rem;
    font-weight:bold;
    background-color: var(--cutty-stark);
    border: none;
    border-radius:.5rem;
    color: var(--bright-sun);
    cursor:pointer;
}

.add-todo-btn:hover {
    opacity:0.5;
}


.todo-list {
    margin:15px;
    width: 1000px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.todo-items {
    display: grid;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: auto; 
    column-gap: 10px;
    row-gap: 10px;
    height: auto;

}

.todo-items li {
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    list-style: none;
    height:auto;
    padding: 10px;
    margin:10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    overflow:auto;
}

.task {
    cursor: pointer;
}

.task-header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.task-header .title {
    font-weight:bold;
}


.actions {
    display: flex;
    flex-direction:row;
    align-items:end;

}

.description {
    font-size:.8rem;
    line-height: 1.4rem;
    color:#818962;
    padding:10px;
}

#edit, #delete {
    padding: 5px;
}

#edit {
    color: var(--hacienda);
    cursor: pointer;
}

#delete {
    color: rgb(241, 93, 93);
    cursor: pointer;
}

/* ACTIVE */
.active {
    color: var(--bright-sun);
    font-weight:bold;
    background-color:#83ac96a1;
    border-radius: .5rem;
}






